/***colors***/
/***global ***/
html, body {
  background: #e9e9e9;
  margin: 0;
  padding: 0;
  color: #111;
  font-size: 14px;
  font-family: arial, tahoma, helvetica, 'Times New Roman';
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  color: #333;
  -webkit-transition: color 100ms;
  transition: color 100ms;
  text-decoration: none;
}

a:hover {
  color: #111;
}

/*** header and nav ***/
#header-menu {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f8f8f8;
}

#header-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#header-menu #header {
  width: 100%;
  max-width: 1000px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

#header-menu #header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-menu #header #logo {
  text-align: center;
}

#header-menu #header #logo h1 {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 36px;
}

#header-menu #header #log-buttons {
  font-size: 15px;
}

#header-menu #header #log-buttons span {
  margin: 0 10px;
}

#header-menu #header #log-buttons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#header-menu #header #log-buttons ul li {
  line-height: 30px;
  height: 30px;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
  border-radius: 4px;
  margin: 0 5px;
}

#header-menu #header #log-buttons ul li:hover {
  background: #333;
}

#header-menu #header #log-buttons ul li a {
  display: block;
  padding: 0 10px;
  color: #555;
}

#header-menu #header #log-buttons ul li a:hover {
  -webkit-transition: color 200ms;
  transition: color 200ms;
  color: #f0f0f0;
}

#header-menu #top-menu {
  width: 100%;
  background: #47a54b;
}

#header-menu #top-menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: inherit;
}

#header-menu #top-menu > ul > li {
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  -webkit-transition: background-color 100ms, -webkit-box-shadow 100ms;
  transition: background-color 100ms, -webkit-box-shadow 100ms;
  transition: background-color 100ms, box-shadow 100ms;
  transition: background-color 100ms, box-shadow 100ms, -webkit-box-shadow 100ms;
  background: inherit;
}

#header-menu #top-menu > ul > li > a {
  color: #fafafa;
  padding: 0 10px;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#header-menu #top-menu > ul > li:hover {
  background: #50c456;
}

#side-menu {
  width: 300px;
  background: #222;
  height: 100vh;
}

/*** content ***/
main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container {
  width: 1000px;
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*** forms ***/
input, textarea, button {
  padding: 0;
  margin: 4px 0;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: #f6f6f6;
  outline: none;
  -webkit-transition: background-color 100ms, border 100ms;
  transition: background-color 100ms, border 100ms;
}

input:focus, textarea:focus, button:focus {
  background: #fafafa;
  border: 1px solid #a0a0a0;
}

input[type=submit], input[type=button], button {
  width: 200px;
  height: 34px;
  font-size: 15px;
}

label {
  text-align: center;
  font-size: 13px;
}

input[type=text], input[type=password], input[type=email] {
  width: 200px;
  height: 25px;
  font-size: 15px;
}

input[type=checkbox] {
  margin: 4px 4px;
}

#authForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#authForm label.required:before {
  content: "*";
  color: #ec0b31;
}

#authForm > form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#authForm > form .checkbox {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/*** quizes ***/
#categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#categories .category {
  width: 300px;
  height: 300px;
  background: #f8f8f8;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#categories .category > div {
  width: 100%;
}

#categories .category .image {
  height: 240px;
  overflow: hidden;
}

#categories .category .name {
  height: 60px;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  background: #f8f8f8;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.result .score {
  font-size: 20px;
}

.result .score p:first-child {
  font-weight: bold;
}

.result .answers {
  width: 100%;
}

.result .answers .yourAnswer, .result .answers .correctAnswer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  border-top: 2px solid #c1e0c3;
}

.result .answers .yourAnswer p, .result .answers .correctAnswer p {
  font-weight: bold;
}

.result .answers .correct {
  background: #50c456;
}

.result .answers .bad {
  background: #f55959;
}

.result .answers .correctAnswer {
  background: #a3eba6;
}

/*** footer ***/
#footer {
  margin: 5px 0 0;
  width: 100%;
  overflow: hidden;
  height: 200px;
  color: #bbb;
  background: #222;
  font-size: 13px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer > div {
  width: 200%;
  height: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
}
/*# sourceMappingURL=style.css.map */