{% extends 'base.html.twig' %}

{% block body %}
    {% for category in categories %}
        <a href="{{ path('app_quiz_list', {slug: category.slug}) }}">{{ category.name }}</a>
    {% endfor %}
{% endblock %}