{% extends 'base.html.twig' %}

{% block body %}
    <section class="result">
        <div class="score">
            <p>Twój wynik:</p>
            <p>{{ result.goodAnswersCount }}/{{ countQuestions }}</p>
        </div>
        <div class="answers">
            <p>Odpowiedzi:</p>
            {% for i in 0..(result.yourAnswers|length - 1) %}
                {% if result.yourAnswers[i].correct %}
                    <div class="yourAnswer correct">
                {% else %}
                    <div class="yourAnswer bad">
                {% endif %}
                <p>Twoja odpowiedz:</p>
                {{ result.yourAnswers[i].answer }}
                </div>
                <div class="correctAnswer">
                    <p>Poprawna odpowiedz:</p>
                    {{ goodAnswers[i].answer }}
                </div>
            {% endfor %}
    </section>
{% endblock %}