

{% block menu %}
    <ul>
        {% for menu_position in menu %}
            {% if is_granted(menu_position.requiredRole) %}
                <li><a href="{{ path(menu_position.route) }}">{{ menu_position.page }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
