{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('app_edit_profile', {info: 'pass'})}}">Zmiana hasła</a>
    <a href="{{ path('app_edit_profile', {info: 'personal'})}}">Zmiana danych personalnych</a>
    {{ form(form) }}
{% endblock %}